td:nth-child(2){
  padding-right: 20px;
  } 

  th:first-child{
    padding-left:20px;
  }

  #tabledriver{
     
  }
 

td{
    padding: 10px;
    
}

.styled-table{

}

@media (max-width:500px) {
    .priority{
        display: none;
    }

    .container{
        max-width: 700px;
    }
}

a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #route{
      margin-left: 27%;
      color: green;
  }

  .container{
      height: 550px;
  }