:host {
  display: block;
}

a {
  text-decoration: none;
  color: #000000;
}

.dropbtn {
  background-color: #06b70b;
  border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;

}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  right:15%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: gray;}


@media (max-width:600px) {
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    right:15%;
  }

}
