:host {
  display: block;
}

.card{
 
  border-radius: 23px 26px 23px 23px;
  height: 340px;
  width: 60%;
  margin-left: 65%;
 
}
 
.header-driver {
  margin-bottom: 0px;
  background-color: #06b70b;
  border-radius: 20px 19px 0px 0px;
  text-align: center;
  color: white;
  height: 30px;

}

.header-driver h4{
  padding-top: 1%;
}

.imgdriver{
  margin-top: 10px;
}

.driver-body {
  color: #06b70b;
  text-align: center;
  border:1px solid  #06b70b;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  line-height: 8pt;
  
}

.content{
  color: gray;
  font-size:small;
}
.contentpos{
  color: black;
  font-size: large;
}





@media screen and (max-width: 1000px) {
  .card{
   margin: auto;
   width: 80%;
  }
 
  .header-driver h4{
   padding-top: 2%;
 }
 
}
