<h1 @enterState class="text-center">
  <span  class="text1">F</span>
  <span class="text2">ormula</span> &nbsp;
  <span  class="text1">1</span>&nbsp; 
  <span  class="text1">C</span>
  <span class="text2">HAMPIONSHIP</span></h1>
<br>
<button-races *ngIf="!router.url.includes('driver')">
    <a slot="buttonraces" class="nav-item nav-link" [routerLink]="['/ranking/']" >Global</a>
    <a slot="buttonraces" *ngFor="let race of races" class="nav-item nav-link" [routerLink]="['/ranking/', race]" >{{race}}</a>
  </button-races>

  <button id="back" (click)="back();" *ngIf="router.url.includes('driver')">Back</button>
